/* Variaveis */
:root {
  --amarelo: #ffd200;
  --white: #fff;
  --b-green: #006d35;
  --b-gray: #f1f1f1;
  --border-gray: #dfdfdf;
  --dark-gray: #606060;
  --b-dark-green: #00420b;
}

/*color*/
#navbar_top .title-header h1 {
  color: var(--amarelo);
  font-size: 2em;
}
.title-header h2 {
  color: var(--white);
}
.b-header {
  background: linear-gradient(to bottom, var(--b-green) 0, #0a5517 100%);
  border-bottom: 1px solid var(--b-green);
}

header #portal-siteactions a {
  color: #00ad08;
}

header #accessibility a span {
  background-color: #dcffe3;
  color: var(--b-green);
}
header #social-icons a {
  color: #abebb8;
}

.searchform button svg {
  color: #02672d;
}

/* barra brasil--------------------------------------------------------------------- */
#wrapper-barra-brasil {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  height: 100%;
}
#barra-brasil {
  height: 32px;
  background: var(--b-gray);
  font-weight: bold;
  font-size: 12px;
  line-height: 32px;
  border-bottom: 1px solid var(--border-gray);
  box-sizing: content-box;
}
#barra-brasil li {
  display: inline;
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ededed;
}

#barra-brasil .brasil-flag .link-barra {
  display: block;
  padding-left: 42px;
  width: 43px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2219%22%20viewBox%3D%220%200%201000%20700%22%3E%3Cpath%20fill%3D%22%2300923F%22%20d%3D%22M0%200h1000v700H0z%22%2F%3E%3Cpath%20fill%3D%22%23F8C300%22%20d%3D%22M500%2085L85%20350l415%20265%20415-265L500%2085z%22%2F%3E%3Ccircle%20fill%3D%22%2328166F%22%20cx%3D%22499%22%20cy%3D%22350%22%20r%3D%22174%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M395%20296c103%200%20199%2038%20272%20101%202-8%204-17%205-26-75-61-172-98-277-98-18%200-36%201-53%203-3%208-6%2016-9%2025%2020-3%2041-4%2063-4z%22%2F%3E%3C%2Fsvg%3E")
    8px center no-repeat;
  text-transform: uppercase;
  line-height: 19px;
}

#barra-brasil a {
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

/* acessibilidade ------------------------------------------------------------------ */
header #accessibility {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 2px 0 0 0;
}

header #accessibility li {
  margin-right: 10px;
}
header #accessibility a,
header #portal-siteactions a,
header #language a {
  font-size: 0.6em;
}
header #accessibility a span {
  padding: 0 3px;
}

header #social-icons a {
  display: block;
  height: 24px;
  text-decoration: none;
}

header #social-icons span {
  display: none !important;
}
/* cabeçalho com logo ufabc e busca ------------------------------------------------ */

wrapper-cabecalho {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  height: 100%;
}

.site-logo {
  display: flex;
  align-items: center;
}

.site-logo img {
  width: 100px;
}

.h-container {
  padding-bottom: 8px;
}

.title-header h1 {
  line-height: 1.2em;
  letter-spacing: -1px;
  text-align: center;
}
.title-header h2 {
  font-size: 1.1em;
  text-transform: none;
  line-height: 1.2em;
  text-align: center;
}
.itens-header {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
}
.search-col {
  border-radius: 0.25em;
}
.search-col form div {
  padding-top: 18px;
  padding-bottom: 18px;
  display: inline;
}
.search-col form {
  float: left;
}
.search_field {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.searchform button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

/* Menu ---------------------------------------------------------------------------- */
/*  sobrescrevendo a classe menu do wodpress  */
.menu-header {
  background: var(--b-dark-green);
}
.menu {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  display: flex;
  background: var(--b-dark-green);
  justify-content: space-between;
}
.menu > li {
  display: inline;
  margin-left: 0;
  text-transform: uppercase;
}

.menu a {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75em;
  letter-spacing: 1px;
}

.menu a:hover {
  color: var(--white);
}
.menu h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.menu ul {
  display: none;
  flex-direction: column;
  padding: 5px 0;
  margin-bottom: 0;
  list-style: none;
  text-transform: capitalize;
}

.menu li:hover > .sub-menu {
  display: inline;
  max-width: 300px;
  width: 100%;
  height: auto;
  z-index: +4;
  background: var(--b-dark-green);
}

.menu li:hover > .sub-menu li {
  width: auto;
  height: auto;
  z-index: +4;
}

.menu li .sub-menu li a {
  width: 100%;
  display: inline;
  z-index: +4;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 18px;
}
.menu li .sub-menu li a:hover {
  display: inline;
  width: 100%;
  height: auto;
  z-index: +4;
  color: #e6bd00;
}

.menu .sub-menu {
  display: none;
  position: absolute;
  width: auto;
  z-index: +4;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 0px !important;
}

#navigation.menu-header {
  padding: 0.4em 0;
}

ul#menu-menu-nti-topo > li > a {
  color: var(--white);
}

ul#menu-menu-nti-topo > li > a:hover {
  color: var(--amarelo);
}

ul#menu-menu-nti-topo > li:first-of-type > a {
  padding-left: 0;
}

nav div.collapse.show ul ul {
  flex-direction: column;
  margin-right: auto;
}

.navbar {
  padding: 0px !important;
}
